In [ ]:
import pandas as pd
import os

In [ ]:
file_path = '/content/feedback-mech-data.xlsx'
xlsx_data = pd.read_excel(file_path, sheet_name='MAS102-23')

In [ ]:
xlsx_data.head()  # Display the first few rows of the loaded sheet

,Ozone 1 (H/M/L/NJ),Ozone 2 (H/M/L/NJ),Eligible Companies > 5 (Yes/No),Ozones 2 Remarks,College Name,College (Pivot),Course,Course (Pivot),Branch/Department,Analytics/Consultancy/DS,...,Cases/guestimates experince?,PORs,Prepared Resume,CGPA?,CAT/MBA/GMAT Prep,Communication skills rating,Test rating,Tech Rating,Overall Rating Ozone 1,Ozones 1 Remarks
0,M,H,Yes,"Aware, good in tech, doing two tech interns",NIT Agartala,NIT Agartala,B.Tech,Bachelors,Civil Engineering,DS,...,No,Yes,yes,8.81,no,8.0,4,6,7,good Student-
1,NJ,L,"No (2,3 consultancy firm)","No progress, only excuses",LSR DU,LSR DU,B.Sc.,Bachelors,Statistics Department,DS,...,No,Yes,yes,8.71,No,5.0,3,4,4,Need to improve a lot
2,L,L,No,"Going through problems, motivated",NIT Durgapur,NIT Durgapur,Masters,Masters,Mathematics,DS,...,No,No,yes,6.5,No,8.0,4,8,5,NaN
3,L,L,Yes,"No Ozone scheduled, Top level in test, Zero pr...",NIT Agartala,NIT Agartala,B.Tech,Bachelors,Mechanical Engineering Department,Analytics,...,no,yes,yes,NaN,No,4.0,2,1,2,Need to improve a lot
4,H,H,Yes,"Smart, good at communication, doing intern",NMIMS,Others,B.Tech,Bachelors,Computer Engineering,Analytics,...,no,yes,yes,3.94,No,8.0,8,7,8,Very good student

In [ ]:
xlsx_data.describe()

       Communication skills rating
count                    94.000000
mean                      4.031915
std                       1.770135
min                       1.000000
25%                       3.000000
50%                       3.500000
75%                       4.000000
max                       9.000000

In [ ]:
column_data_types = xlsx_data.dtypes
print(column_data_types)

Ozone 1 (H/M/L/NJ)                              object
Ozone 2 (H/M/L/NJ)                              object
Eligible Companies > 5 (Yes/No)                 object
Ozones 2 Remarks                                object
College Name                                    object
College (Pivot)                                 object
Course                                          object
Course (Pivot)                                  object
Branch/Department                               object
Analytics/Consultancy/DS                        object
Applied Financial Aid                           object
Attending Group Sessions                        object
Joined personal Whatsapp grp of Study Grp       object
Aptitude Prepared ever?                         object
ML/AI/Data analytics/science prepared ever?     object
Internships/Working?                            object
Summer Intern is there? (Y/N)                   object
Cases/guestimates experince?                    object
PORs                                            object
Prepared Resume                                 object
CGPA?                                           object
CAT/MBA/GMAT Prep                               object
Communication skills rating                    float64
Test rating                                     object
Tech Rating                                     object
Overall Rating Ozone 1                          object
Ozones 1 Remarks                                object
dtype: object

In [ ]:
null_count = xlsx_data.isnull().sum()
print(null_count)

Ozone 1 (H/M/L/NJ)                              3
Ozone 2 (H/M/L/NJ)                              7
Eligible Companies > 5 (Yes/No)                12
Ozones 2 Remarks                               11
College Name                                    0
College (Pivot)                                 0
Course                                          0
Course (Pivot)                                  0
Branch/Department                               0
Analytics/Consultancy/DS                       15
Applied Financial Aid                          12
Attending Group Sessions                       14
Joined personal Whatsapp grp of Study Grp      13
Aptitude Prepared ever?                        10
ML/AI/Data analytics/science prepared ever?    10
Internships/Working?                           10
Summer Intern is there? (Y/N)                  10
Cases/guestimates experince?                   11
PORs                                           10
Prepared Resume                                24
CGPA?                                          20
CAT/MBA/GMAT Prep                              11
Communication skills rating                    11
Test rating                                    13
Tech Rating                                    15
Overall Rating Ozone 1                         24
Ozones 1 Remarks                               37
dtype: int64

In [ ]:
xlsx_data['Ozone 1 (H/M/L/NJ)']

0       M
1      NJ
2       L
3       L
4       H
       ..
100     L
101     M
102     H
103     M
104    NJ
Name: Ozone 1 (H/M/L/NJ), Length: 105, dtype: object

In [ ]:
mapping = {'H': 3, 'M': 2, 'L': 1, 'NJ':0}
xlsx_data['Ozone 1 (H/M/L/NJ)'] = xlsx_data['Ozone 1 (H/M/L/NJ)'].map(mapping)

In [ ]:
xlsx_data['Ozone 1 (H/M/L/NJ)']

0      2.0
1      0.0
2      1.0
3      1.0
4      3.0
      ...
100    1.0
101    2.0
102    3.0
103    2.0
104    0.0
Name: Ozone 1 (H/M/L/NJ), Length: 105, dtype: float64

In [ ]:
xlsx_data['Ozone 2 (H/M/L/NJ)'] = xlsx_data['Ozone 2 (H/M/L/NJ)'].map(mapping)
xlsx_data['Ozone 2 (H/M/L/NJ)']

0      3.0
1      1.0
2      1.0
3      1.0
4      3.0
      ...
100    1.0
101    NaN
102    3.0
103    2.0
104    0.0
Name: Ozone 2 (H/M/L/NJ), Length: 105, dtype: float64

In [ ]:
xlsx_data['CGPA?'] = xlsx_data['CGPA?'].str.extract(r'(\d+\.\d+)', expand=False).astype(float)

In [ ]:
xlsx_data['CGPA?'].dtypes

dtype('float64')

In [ ]:
rows_with_dash = (xlsx_data['Aptitude Prepared ever?'] == '-').sum()
print(rows_with_dash)

4

In [ ]:
xlsx_data['Aptitude Prepared ever?']

0       No
1       No
2      Yes
3       no
4      yes
      ...
100      -
101     No
102    Yes
103     No
104     No
Name: Aptitude Prepared ever?, Length: 105, dtype: object

In [ ]:
xlsx_data = xlsx_data[xlsx_data['Aptitude Prepared ever?'] != '-']

In [ ]:
rows_with_dash = (xlsx_data['Aptitude Prepared ever?'] == '-').sum()
print(rows_with_dash)

0

In [ ]:
def convert_aptitude_level(level):
    if pd.isna(level):
        return level
    elif isinstance(level, (int, float)):
        return float(level)
    elif "yes" in level.lower() or "basic" in level.lower():
        return 1
    elif "no" in level.lower() or "start" in level.lower():
        return 0
    else:
        return level

In [ ]:
xlsx_data['Aptitude Prepared ever?'] = xlsx_data['Aptitude Prepared ever?'].apply(convert_aptitude_level)

<ipython-input-42-2876201f7b1f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsx_data['Aptitude Prepared ever?'] = xlsx_data['Aptitude Prepared ever?'].apply(convert_aptitude_level)

In [ ]:
xlsx_data['Aptitude Prepared ever?']

0        0
1        0
2        1
3        0
4        1
      ...
99     NaN
101      0
102      1
103      0
104      0
Name: Aptitude Prepared ever?, Length: 101, dtype: object

In [ ]:
def convert_resume_level(level):
    if pd.isna(level):
        return level
    elif isinstance(level, (int, float)):
        return float(level)
    elif "yes" in level.lower() or "prepared" in level.lower():
        return 1
    elif "no" in level.lower():
        return 0
    else:
        return level

In [ ]:
xlsx_data['Prepared Resume'] = xlsx_data['Prepared Resume'].apply(convert_resume_level)

<ipython-input-45-a2a8c24fde95>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsx_data['Prepared Resume'] = xlsx_data['Prepared Resume'].apply(convert_resume_level)

In [ ]:
xlsx_data['Prepared Resume']

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
99     NaN
101    1.0
102    1.0
103    0.0
104    0.0
Name: Prepared Resume, Length: 101, dtype: float64

In [ ]:
def convert_por_level(level):
    if pd.isna(level):
        return level
    elif isinstance(level, (int, float)):
        return float(level)
    elif isinstance(level, (int, float)):
        return float(level)
    elif "no" in level.lower():
        return 0
    else:
        return 1

In [ ]:
xlsx_data['PORs'] = xlsx_data['PORs'].apply(convert_por_level)

<ipython-input-48-bf027a30524c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsx_data['PORs'] = xlsx_data['PORs'].apply(convert_por_level)

In [ ]:
xlsx_data['PORs']

0      1.0
1      1.0
2      0.0
3      1.0
4      1.0
      ...
99     NaN
101    1.0
102    1.0
103    1.0
104    0.0
Name: PORs, Length: 101, dtype: float64

In [ ]:
def convert_session_level(level):
    if pd.isna(level):
        return level
    elif isinstance(level, (int, float)):
        return float(level)
    elif "no" in level.lower():
        return 0
    else:
        return 1

In [ ]:
xlsx_data['Attending Group Sessions'] = xlsx_data['Attending Group Sessions'].apply(convert_session_level)

AttributeError: ignored

In [ ]:
import pandas as pd

columns_to_check = ['python', 'sql', 'ml', 'stats', 'dsa', 'c++', 'excel']

# Create a new column for each column to check
for column in columns_to_check:
    xlsx_data[column] = xlsx_data['ML/AI/Data analytics/science prepared ever?'].apply(lambda x: 1 if isinstance(x, str) and (column in x.lower() or 'yes' in x.lower()) else 0)

<ipython-input-62-dd4938f700f7>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsx_data[column] = xlsx_data['ML/AI/Data analytics/science prepared ever?'].apply(lambda x: 1 if isinstance(x, str) and (column in x.lower() or 'yes' in x.lower()) else 0)

In [ ]:
rows_90_to_130 = xlsx_data.loc[66:130, 'ML/AI/Data analytics/science prepared ever?']
rows_90_to_130

66                                                   Yes
67                                                   Yes
68                                                Basics
69                             DSA in C++, python basics
70                                   basics of R and sql
71                              Basic programming, excel
72                            basics of python sql excel
73                                            Statistics
74                                                    No
75                                                   NaN
76                                                   NaN
77                                                   NaN
78                              SQL, Basic Python, Excel
79                            Excel, Stats, Python, SQL,
80                              Python, basic SQL, Excel
81                                Python, Sql, Excel, ML
82                                                   SQL
83                                Python, SQL, Basic ML,
85                                          Basic Python
86                                     Python, Basic SQL
88                                             Basic SQl
89                                                   NaN
90                     Python basic, Sql, Excel, Tableau
91     Python basic, Sql basic, Excel, ML basics, Tab...
92           Basic Python, Basic SQL, Excel, Basic Stats
93                   Very Basic SQL, Excel, Basic Python
94                     Basic Python, SQL, Excel, R, SPSS
95                            Basic Python, Excel, stats
97                   Python, Sql, Excel, Tableau/PowerBI
98                                    Python, Sql, Excel
99                                                   NaN
101      Python, SQL(Basic), Excel, Stats, Tableau-Basic
102                Python, SQL, Excel, Stats, ML (Basic)
103    Python, SQL, Excel - Intermediate,/ ML, DSA, D...
104                                         Just started
Name: ML/AI/Data analytics/science prepared ever?, dtype: object

In [ ]:
rows_80_to_130 = xlsx_data.loc[80:130, 'python']
rows_80_to_130

80     1
81     1
82     0
83     1
85     1
86     1
88     0
89     0
90     1
91     1
92     1
93     1
94     1
95     1
97     1
98     1
99     0
101    1
102    1
103    1
104    0
Name: python, dtype: int64

In [ ]:
rows_80_to_130 = xlsx_data.loc[80:130, 'sql']
rows_80_to_130

80     1
81     1
82     1
83     1
85     0
86     1
88     1
89     0
90     1
91     1
92     1
93     1
94     1
95     0
97     1
98     1
99     0
101    1
102    1
103    1
104    0
Name: sql, dtype: int64

In [ ]:
rows_80_to_130 = xlsx_data.loc[80:130, 'ml']
rows_80_to_130

80     0
81     1
82     0
83     1
85     0
86     0
88     0
89     0
90     0
91     1
92     0
93     0
94     0
95     0
97     0
98     0
99     0
101    0
102    1
103    1
104    0
Name: ml, dtype: int64

In [ ]:
xlsx_data['ML/AI/Data analytics/science prepared ever?']

0                                                    Yes
1                                                     No
2                                                     No
3                                                     No
4                                                    yes
                             ...
99                                                   NaN
101      Python, SQL(Basic), Excel, Stats, Tableau-Basic
102                Python, SQL, Excel, Stats, ML (Basic)
103    Python, SQL, Excel - Intermediate,/ ML, DSA, D...
104                                         Just started
Name: ML/AI/Data analytics/science prepared ever?, Length: 101, dtype: object

In [ ]:
# def convert_intern_level(level):
#     if isinstance(level, (int, float)):
#         return float(level)
#     elif "no" in level.lower():
#         return 0
#     else:
#         return 1

In [ ]:
# xlsx_data['Internships/Working?'] = xlsx_data['Internships/Working?'].apply(convert_intern_level)

In [ ]:
# xlsx_data['Internships/Working?']

0      0
1      0
2      0
4      1
5      0
6      1
7      1
8      0
10     0
11     0
12     0
13     0
14     0
15     0
18     1
19     0
24     1
26     0
30     0
34     1
50     0
51     1
52     0
54     1
55     0
56     1
57     0
59     0
60     0
61     1
63     1
64     0
65     0
66     1
67     0
69     0
70     0
71     0
72     1
73     0
74     0
79     0
80     0
81     0
82     1
85     1
86     0
88     1
90     0
91     0
92     1
93     1
94     1
97     1
98     1
102    1
103    1
Name: Internships/Working?, dtype: int64

In [ ]:
# xlsx_data['Intern'] = xlsx_data.apply(lambda row: 0 if (isinstance(row['Internships/Working?'], str) and 'no' in row['Internships/Working?'].lower()) and (isinstance(row['Summer Intern is there? (Y/N)'], str) and 'no' in row['Summer Intern is there? (Y/N)'].lower()) else 1, axis=1)

<ipython-input-69-97d17c27e242>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsx_data['Intern'] = xlsx_data.apply(lambda row: 0 if (isinstance(row['Internships/Working?'], str) and 'no' in row['Internships/Working?'].lower()) and (isinstance(row['Summer Intern is there? (Y/N)'], str) and 'no' in row['Summer Intern is there? (Y/N)'].lower()) else 1, axis=1)

In [ ]:
xlsx_data['Intern2'] = xlsx_data.apply(lambda row: 0 if ((isinstance(row['Internships/Working?'], str) and 'no' in row['Internships/Working?'].lower()) or pd.isna(row['Internships/Working?'])) and (isinstance(row['Summer Intern is there? (Y/N)'], str) and 'no' in row['Summer Intern is there? (Y/N)'].lower()) else 1, axis=1)

<ipython-input-72-5b9e3441edff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsx_data['Intern2'] = xlsx_data.apply(lambda row: 0 if ((isinstance(row['Internships/Working?'], str) and 'no' in row['Internships/Working?'].lower()) or pd.isna(row['Internships/Working?'])) and (isinstance(row['Summer Intern is there? (Y/N)'], str) and 'no' in row['Summer Intern is there? (Y/N)'].lower()) else 1, axis=1)

In [ ]:
xlsx_data['Intern2']

0      1
1      0
2      0
3      0
4      1
      ..
99     1
101    1
102    1
103    1
104    0
Name: Intern2, Length: 101, dtype: int64

In [ ]:
def convert_guesstimates_level(level):
    if pd.isna(level):
        return level
    elif isinstance(level, (int, float)):
        return float(level)
    elif "no" in level.lower():
        return 0
    else:
        return 1

In [ ]:
xlsx_data['Cases/guestimates experince?'] = xlsx_data['Cases/guestimates experince?'].apply(convert_guesstimates_level)

<ipython-input-75-97bf96ff09df>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsx_data['Cases/guestimates experince?'] = xlsx_data['Cases/guestimates experince?'].apply(convert_guesstimates_level)

In [ ]:
xlsx_data['Communication skills rating']

0      8.0
1      5.0
2      8.0
3      4.0
4      8.0
      ...
99     NaN
101    4.0
102    3.5
103    3.0
104    3.0
Name: Communication skills rating, Length: 101, dtype: float64

In [ ]:
rows_with_dash = (xlsx_data['Communication skills rating'] == '-').sum()
print(rows_with_dash)

0

In [ ]:
mode=xlsx_data['Communication skills rating'].mode()

In [ ]:
xlsx_data['Communication skills rating'].fillna(value=mode, inplace = True)

<ipython-input-79-b6b61d89cedd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsx_data['Communication skills rating'].fillna(value=mode, inplace = True)

In [ ]:
count=xlsx_data['Communication skills rating'].isnull().sum()

In [ ]:
rows_with_dash = (xlsx_data['Test rating'] == '-').sum()
print(rows_with_dash)

9

In [ ]:
xlsx_data = xlsx_data[xlsx_data['Test rating'] != '-']

In [ ]:
rows_with_dash = (xlsx_data['Test rating'] == '-').sum()
print(rows_with_dash)

0

In [ ]:
xlsx_data['Test rating']

0               4
1               3
2               4
3               2
4               8
          ...
95           3.75
97     Not Needed
98              4
99            NaN
102           4.5
Name: Test rating, Length: 92, dtype: object

In [ ]:
xlsx_data['Test rating'].isnull().sum()

13

In [ ]:
mode=xlsx_data['Test rating'].mode()

In [ ]:
xlsx_data['Test rating'].fillna(value=mode, inplace = True)

<ipython-input-87-908d630b6b89>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsx_data['Test rating'].fillna(value=mode, inplace = True)

In [ ]:
def apply_test_rating(level):
    if pd.isna(level):
        return level
    elif isinstance(level, (int, float)):
        return float(level)
    elif "Not Needed" in level.lower() or "Not yet" in level.lower() or "Na" in level.lower():
        return 0
    else:
        return 1

In [ ]:
xlsx_data['Test rating'] = xlsx_data['Test rating'].apply(apply_test_rating)

<ipython-input-89-132a3d4de5ac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xlsx_data['Test rating'] = xlsx_data['Test rating'].apply(apply_test_rating)

In [ ]:
xlsx_data['Test rating']

0      4.00
1      3.00
2      4.00
3      2.00
4      8.00
       ...
95     3.75
97     1.00
98     4.00
99      NaN
102    4.50
Name: Test rating, Length: 92, dtype: float64

In [ ]:
xlsx_data['Tech Rating']

0        6
1        4
2        8
3        1
4        7
      ...
95       3
97     3.5
98     3.5
99     NaN
102      3
Name: Tech Rating, Length: 92, dtype: object

In [ ]:
rows_with_dash = (xlsx_data['Tech Rating'] == '-').sum()
print(rows_with_dash)

0

In [ ]:
rows_with_dash = (xlsx_data['Overall Rating Ozone 1'] == '-').sum()
print(rows_with_dash)

1

In [ ]:
xlsx_data = xlsx_data[xlsx_data['Overall Rating Ozone 1'] != '-']

In [ ]:
rows_with_dash = (xlsx_data['Overall Rating Ozone 1'] == '-').sum()
print(rows_with_dash)

0

In [ ]:
xlsx_data['Overall Rating Ozone 1']

0        7
1        4
2        5
3        2
4        8
      ...
95       3
97     3.5
98     3.5
99     NaN
102      4
Name: Overall Rating Ozone 1, Length: 91, dtype: object

In [ ]:
xlsx_data['Overall Rating Ozone 1'] = xlsx_data['Overall Rating Ozone 1'].astype(str).str.extract(r'(\d+\.\d+)', expand=False).astype(float)

In [ ]:
xlsx_data['Overall Rating Ozone 1'].dtypes

dtype('float64')

In [ ]:
xlsx_data['Tech Rating'] = xlsx_data['Tech Rating'].astype(str).str.extract(r'(\d+\.\d+)', expand=False).astype(float)

In [ ]:
xlsx_data['Tech Rating'].dtypes

dtype('float64')

In [ ]:
column_data_types = xlsx_data.dtypes
print(column_data_types)

Ozone 1 (H/M/L/NJ)                             float64
Ozone 2 (H/M/L/NJ)                             float64
Eligible Companies > 5 (Yes/No)                 object
Ozones 2 Remarks                                object
College Name                                    object
College (Pivot)                                 object
Course                                          object
Course (Pivot)                                  object
Branch/Department                               object
Analytics/Consultancy/DS                        object
Applied Financial Aid                           object
Attending Group Sessions                        object
Joined personal Whatsapp grp of Study Grp       object
Aptitude Prepared ever?                         object
ML/AI/Data analytics/science prepared ever?     object
Internships/Working?                            object
Summer Intern is there? (Y/N)                   object
Cases/guestimates experince?                   float64
PORs                                           float64
Prepared Resume                                float64
CGPA?                                          float64
CAT/MBA/GMAT Prep                               object
Communication skills rating                    float64
Test rating                                    float64
Tech Rating                                    float64
Overall Rating Ozone 1                         float64
Ozones 1 Remarks                                object
OOzone 1 (H/M/L/NJ)                            float64
python                                           int64
sql                                              int64
ml                                               int64
stats                                            int64
dsa                                              int64
c++                                              int64
excel                                            int64
Intern                                           int64
Intern2                                          int64
dtype: object

In [ ]:
xlsx_data.to_excel('output.xlsx', index=False)